* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f4e6d2;
    color: #000;
    display: flex;
    flex-direction: column;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
nav .org {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(26, 28, 93);
    text-align: start;
    margin-left: 0px;
}
nav .links a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(26, 28, 93);
}
/*
GLOBAL CONTAINERS CSS
*/
nav, main, header {
    margin-top: 20px;
    width: 80%;
}
/*
Initial header container
*/
header {
    font-size: 14px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    color: rgb(26, 28, 93);
}
header h1{
    font-size: 2.8rem;
    width: 100%;
}
header p {
    font-size: 2.2rem;
    max-width: 600px;
    margin-left: 0px;
    text-align: start;
    color: #000;
}
/*
CARDS
*/
/*
    Popup text
*/
.card .text {
    visibility: hidden;
    width: 400px;
    max-width: 80%;
    background-color: rgb(26, 28, 93);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: -100%;
    left: 30%;
    z-index: 1;
}
.card:hover .text {
    visibility: visible;
}
.card .text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(26, 28, 93) transparent transparent transparent;
  }
/*
    Main card
*/
.cards {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.card {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-left: 0;
    position: relative;
    display: inline-flex;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}
.card:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.6);
}
.card .article{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card div.article .content{
    margin-left: 5vmin;
}
.card div.article .thumbnail{
    width: 48px;
    margin-left: 0;
}
.card .article .thumbnail img {
    margin-left: 0px;
    width: 48px;
    height: 48px;
}
/*
    Main container
*/

/*
    RESPONSIVE QUERIES
*/
@media (max-width: 500px) {
    header {
        text-align: center;
    }
    header * {
        max-width: 100%;
        margin-left: auto;
        text-align: center;
        width: 100%;
    }
    nav .links {
        display: none;
    }
    header h1 {
        font-size: 1.8rem;
    }
    header p {
        font-size: 1.5rem;
    }
}
@media (max-width: 350px) {
    .card .article {
        display: flex;
        flex-direction: column;
    }
    .card div.article .content{
        width: 100%;
        margin-left: 0;
    }
}